extends layout 

block content
  .well 
    img(src= imageLocation width='100%' height='100%')
    table.table
      thead
      each header in workouts
        tr
          th= header.nameCol
          th= header.warmUpCol
          th= header.setsCol
          th= header.repsCol
          th= header.repMaxCol
          th= header.restCol
          th= header.demoCol
      tbody
      each exercise in workouts
        tr
          td= exercise.name
          td= exercise.warmUpSets
          td= exercise.sets
          td= exercise.reps
          td= exercise.repMax
          td= exercise.rest
          td
            a(href= exercise.demo) #{click}